

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pagina principal</title>
</head>
<body>
   <h1>Intro al HTML 5</h1>


   <ul>
       <li>item1</li>
       <li>item2</li>
       <li>item3</li>
   </ul>
</body>
</html>
